#face{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 25px;
	left: 25px;
	z-index: 1;
}
#hours{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 25px;
	left: 25px;
	z-index: 4;
}
#minutes{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 25px;
	left: 25px;
	z-index: 3;
}
#seconds{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 25px;
	left: 25px;
	z-index: 2;
	
}
#twitBanner{
	border: solid 2px green;
	width: 100%;
	height: 200px;
	background-image: url("../images/twits.jpg");
	background-repeat: repeat-x;
}
#twitTitle{
	border: solid 2px orange;
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 28pt;
	text-align: center;
}
#twitContent{
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 20pt;
	text-align: center;
}
#twitButton{
	cursor: pointer;
	
}

#leftBox{
	border: solid 1px purple;
}
#rightBox{
	border: solid 1px blue;
}
#myForm{
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 12pt;
}
.warnLines{
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 20pt;
	text-align: center;
}
#approveImage{
	border: solid 1px yellow;
	width:300px;
	height:300px;
	//background-image: url(../images/suspiciousFace.png);
	margin-left: auto;
	margin-right: auto;
}
#suspFace{
	position: absolute;
	z-index: 1;
	opacity: 1;
}
#angFace{
	position: absolute;
	z-index: 2;
	opacity: 0;
}#hapFace{
	position: absolute;
	z-index: 3;
	opacity: 0;
}


