#face{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 25px;
	left: 25px;
	z-index: 1;
}
#hours{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 25px;
	left: 25px;
	z-index: 4;
}
#minutes{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 25px;
	left: 25px;
	z-index: 3;
}
#seconds{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 25px;
	left: 25px;
	z-index: 2;
	
}
#twitBanner{
	border: solid 2px green;
	width: 100%;
	height: 200px;
	background-image: url("../images/twits.jpg");
	background-repeat: repeat-x;
}
#twitTitle{
	border: solid 2px orange;
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 28pt;
	text-align: center;
}
#twitContent{
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 20pt;
	text-align: center;
}
#twitButton{
	
}