#twitBanner{
	/*border: solid 2px green;*/
	width: 100%;
	height: 200px;
	background-image: url("../images/twits.jpg");
	background-repeat: repeat-x;
}
#twitTitle{
	border: solid 2px #555;
	background-color: #83b7dc;
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 28pt;
	text-align: center;
	color: black;
}
#navBox{
  width: 100%;
  background-color: #5c829c;
  /*position: fixed;*/
  top: 133px;
  left: 0;
  right: 0;
  border-top: 2pt solid #000;
  border-bottom: 2pt solid #000;
  padding: 6px;
}

ul.nav{
	list-style: none;
	padding: 0;
  	margin-top: 0px;
  	margin-bottom: 0px;
}
ul.nav li{
	display: inline;
	
}
.nav>li>a {
	display: inline;
	padding: 3px 3px;
}
.myRow {
	background-color: #83b7dc;
}
#twitContent{
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 20pt;
	text-align: center;
}
#twitButton{
	cursor: pointer;
	
}
.sidebars {
	/*border: solid 2px green;*/
	background-color: #83b7dc;
	height: 80vh;
	
}

#leftBox{
	/*border: solid 1px purple;*/
}
#rightBox{
	/*border: solid 1px blue;*/
}
#myForm{
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 12pt;
}
.warnLines{
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 20pt;
	text-align: center;
	color: black;
}

.my-button{
	padding: 7px 15px;
	margin: 0px;
	border: 2px solid #83b7dc;
	color: #BBB;
	background-color: #333;
	text-decoration: none;
	display: inline-block;
	border-radius: 4px;
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 20pt;

}
.my-button:hover{
	color: #333;
	background-color: #BBB;
	border: 2px solid #83b7dc;
}
.my-button-b {
	/*width: 200px;*/
	padding: 0px;
	margin: 0px;
	border: 2px solid #83b7dc;
	color: #BBB;
	background-color: #333;
	text-decoration: none;
	display: inline-block;
	border-radius: 4px;
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 12pt;
	transition: all 0.5s ease 0.1s;
}
.my-button-b:hover{
	color: #333;
	background-color: #BBB;
	border: 2px solid #83b7dc;
	padding: 7px;
}

/* APPROVAL PAGE */

#approveButton {
	display: none;
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 20pt;
}

#denial {
	font-family: "Impact", Charcoal, sans-serif;
	font-size: 36pt;
	text-align: center;
	color: black;
}
#approveImage{
	/*border: solid 1px yellow;*/
	width:300px;
	height:300px;
	//background-image: url(../images/suspiciousFace.png);
	margin-left: auto;
	margin-right: auto;
}
#suspFace{
	position: absolute;
	z-index: 1;
	opacity: 1;
}
#angFace{
	position: absolute;
	z-index: 2;
	opacity: 0;
}
#hapFace{
	position: absolute;
	z-index: 3;
	opacity: 0;
}
#hapFace_Main {
	margin-left: auto;
	margin-right: auto;
	width: 6em;
}

/* CLOCK */

#face{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 25px;
	left: 25px;
	z-index: 1;
}
#hours{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 25px;
	left: 25px;
	z-index: 4;
}
#minutes{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 25px;
	left: 25px;
	z-index: 3;
}
#seconds{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 25px;
	left: 25px;
	z-index: 2;
	
}

/* ANALYZER*/

.sysInf {
	color: #FFF;
}

#resizeAutohide {
	opacity: 0;
}

/* LIGHTBOX*/

#wrapper {
    width:600px; 
    margin:0 auto; /*centers the div horizontally in all browsers (except IE)*/
    background:#fff; 
    text-align:left; /*resets text alignment from body tag */
    border:1px solid #ccc;
    border-top:none; 
    padding:25px; 
    /*Let's add some CSS3 styles, these will degrade gracefully in older browser and IE*/
    border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px; 
    box-shadow:0 0 5px #ccc;
    -moz-box-shadow:0 0 5px #ccc;
    -webkit-box-shadow:0 0 5px #ccc;
}

.thumbBox {
	
	background-color: white;
	box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
.thumbImage {
	width: 80%;
}

#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background:url(../images/skyline_Resize.png) repeat; 
    text-align:center;
	
}

#lightbox p {
    text-align:right; 
    color:#fff; 
    margin-right:20px; 
    font-size:12px; 
}

#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    width:75%;
    background-color: #FFF;
}














