#face{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 25px;
	left: 25px;
	z-index: 1;
}
#hours{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 25px;
	left: 25px;
	z-index: 4;
}
#minutes{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 25px;
	left: 25px;
	z-index: 3;
}
#seconds{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 25px;
	left: 25px;
	z-index: 2;
	
}